* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.gallery-container {
  text-align: center;
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.image-container {
  margin-bottom: 1.25rem;
}

.image-container img {
  max-width: 100%;
  border-radius: 0.625rem;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.controls button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.controls button:hover {
  background-color: #0056b3;
}

@media (min-width: 1800px) {
  html {
    font-size: 28px;
  }
}
